@model Nutripuc_E3.Models.Alimentacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoDeRefeicao" class="control-label"></label>
                <select asp-for="TipoDeRefeicao" asp-items="Html.GetEnumSelectList<TipoDeRefeicao>()" class=" form-control"></select>
                <span asp-validation-for="TipoDeRefeicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RefeicaoDoLixo" /> @Html.DisplayNameFor(model => model.RefeicaoDoLixo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

