@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Auxiliar de Rotinas Saudáveis</h1>
    <p class="lead">Leve a vida em um ritmo mais saudável!</p>
</div>
